{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="!pt-0 page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {% if page.metafields.custom.countdown_timer != blank %}
      <div class="min-h-screen !mt-[-104px] md:!mt-[-140px] flex flex-col justify-between">
        <span>&nbsp;</span>
        <div class="countdown-timer animate__animated animate__fadeIn">
          <video autoplay muted loop playsinline preload="auto">
            <source src="{{ page.metafields.custom.countdown_timer | file_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div>
          <h1>
            <span
              >Don’t Watch<br>
              The Clock</span
            >
          </h1>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20" height="20" width="16">
              <line stroke-width="2" stroke="#CDFFA5" y2="18.0667" x2="7.88477" y1="-4.37114e-08" x1="7.88477"></line> <path stroke-width="2" stroke="#CDFFA5" d="M15 10.4584L7.86842 18.0654L0.736842 10.4584"></path>
            </svg>
          </div>
        </div>
      </div>
    {% else %}

    {% endif %}
    <div class="md:mt-[78px]">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
